/* Media Query */

/* responsive header */

@media(max-width:1000px) {

    .menu-btn {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #145369;
        backdrop-filter: blur(20px);
        overflow: hidden;
        max-height: 0;
        transition: .5s;
    }

    .nav-links a {
        width: 100%;
        text-align: center;
        padding: 18px;
    }
    .nav-links .lien:hover {
    background: transparent;
    color: #fff;;                       
    box-shadow: 0 0 10px rgba(56, 189, 248, .5);
}

    #menu:checked~.nav-links {
        max-height: 300px;
    }

    /* Change le menu hamberger quand on click*/

    #menu:checked+.menu-btn span:nth-child(1) {
        transform: translateY(5px) rotate(45deg);
    }

    #menu:checked+.menu-btn span:nth-child(2) {
        opacity: 0;
    }

    #menu:checked+.menu-btn span:nth-child(3) {
        transform: translateY(-7px) rotate(-48deg);
    }

}