/* Media Query */

/* responsive header */

@media(max-width:870px) {

    .menu-btn {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #145369;
        backdrop-filter: blur(20px);
        overflow: hidden;
        max-height: 0;
        transition: .5s;
    }

    .nav-links a {
        width: 100%;
        text-align: center;
        padding: 18px;
    }

    .nav-links .lien:hover {
        background: transparent;
        color: #fff;
        box-shadow: 0 0 10px rgba(56, 189, 248, .5);
    }

    #menu:checked~.nav-links {
        max-height: 300px;
    }

    /* Change le menu hamberger quand on click*/

    #menu:checked+.menu-btn span:nth-child(1) {
        transform: translateY(5px) rotate(45deg);
    }

    #menu:checked+.menu-btn span:nth-child(2) {
        opacity: 0;
    }

    #menu:checked+.menu-btn span:nth-child(3) {
        transform: translateY(-7px) rotate(-48deg);
    }

    /* Hero responsive */

    #Hero {
        background: #000;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
        padding: 20% 0 10% 0;
    }

    .content_un {
        margin-left: 6%;
        width: 100%;
    }

    .Titre {
        font-size: 22px;
        width: 100%;
    }

    .para {
        font-size: 13px;
    }

    .btn {
        margin-top: 10%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    #btn_1 {
        padding: 2%;
    }

    #btn_2 {
        padding: 2%;
    }

    .Photo {
        width: 80%;
    }

    #mec {
        margin-left: 25%;
    }

    /* A_propos responsive */

    .content_A_propos {
        width: 100%;
        flex-wrap: wrap;
        gap:20px;
        margin-left: 4%;
    }

    .content_A_propos .para {
        font-size: 15px;
    }
    .note{
        margin-left:-2%;
    }
    .app {
        gap:4%;
        /* border:4px solid red; */
    }

    .app p {

        font-size: 16px;
    }

    .icon {
        padding: 2%;
    }

    /* Compétence_responsive */
    #Compétences {
        display: flex;
        flex-direction: column;
        background: #000;
    }

    .cmp {

        display: flex;
        flex-direction: column;
    }

    .Outil {

        border: none;
        width: 80%;
        margin-left: 10%;
    }

    .imglogo {
        margin-top: 5%;
        max-width: 10%;
        max-height: 10%;
    }

    progress {
        width: 80%;
        margin-top: 20px;
        appearance: none;
        padding: 7px;
    }

    .Titre_compétence {
        width: 80%;
        margin-left: 5%;
    }
}