* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-family:bold; */
    font-family: "Outfit", sans-serif;
}

body {
    background: #041014;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* navbar */

.navbar {
    width: 100%;
    height: 60px;
    font-weight: 600;
    padding: 0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

/* logo */

.logo h2 {
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
}

.logo span {
    color: #145369;
}

#btn_contact {
    background: #145369;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    padding: 10px;
    margin-top: 3px;
    transition: 0.3s;
}

#btn_contact:hover {
    background: #174454;
    transform: scale(0.97);
    cursor: pointer;

}

/* navigation */

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links .lien {
    text-decoration: none;
    color: #efe6e6;
    border: 1px solid transparent;
    padding: 10px 18px;
    transition: .35s;
}

.nav-links .lien:hover {
    color: #2596be;
    cursor: pointer;
}

/* Menu humberger */

#menu {
    display: none;
}

.menu-btn {
    width: 20px;
    height: 15px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.menu-btn span {
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 10px;
    transition: .4s;
}

/* Hero section */
#Hero {
    background: #000;
    display: flex;
    gap: 20%;
    justify-content: space-between;
    padding: 10% 0 4% 0;
}

.content_un {
    color: #efe6e6;
    width: 50%;
    margin-left: 10%;
    /* animation: real 2s ease; */
}

.Photo {
    width: 50%;
    text-align: center;
    /* animation: real 3s ease; */

}

/* @keyframes real {
    from {
        opacity: 0;
        transform: translateX(140px) rotate(200deg);
    }
} */

#mec {
    max-width: 80%;
    max-height: 80%;
    margin-top: 20px;
    margin-left: -40%;
    border-radius: 50%;
    border: 1px solid #2596be;
    box-shadow: 0 0 0 2px #174454;

}

.btn,
.icone {
    /* background:gray; */
    padding: 3%;
    margin-top: 10%;
    gap: 39px;
}

#btn_1 {
    background: #145369;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    padding: 3%;
    margin-top: 3px;
    transition: 0.3s;
}

#btn_2 {
    margin-left: 5%;
    background: #fff;
    color: #145369;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    padding: 3%;
    margin-top: 3px;
    transition: 0.3s;
}

#btn_1:hover {
    background: #174454;
    transform: scale(0.97);
    cursor: pointer;
}

#btn_2:hover {
    background: aliceblue;
    transform: scale(0.95);
    cursor: pointer;
}

.icone {
    display: flex;
    flex-direction: column;
}

.sui {
    color: #fff;
    font-size: 20px;
    transition: 0.3s;
}

.sui:hover {
    color: #145369;
    transform: translateY(-4px) scale(1.1);
}

.Titre {
    font-size: 37px;
    width: 150%;
}

.para {
    margin-top: 5%;
    font-size: 18px;
    color: #efe6e6;
}

/* section À propos */

#A_propos {
    padding: 5% 0 5% 0;
    display: flex;
    background: #000;
}

.content_A_propos {
    width: 80%;
    margin-top: 2%;
    display: flex;
    gap: 100px;
    margin-left: 10%;
}

.note {
    border-radius: 20px;
    width: 100%;
    border: 1px solid #2596be;
    box-shadow: 0 0 0 2px #174454;
}

.app {
    display: flex;
    gap: 10%;
    padding: 5%;
    text-align: center;
}

.app p {
    color: #efe6e6;
    margin-top: 10px;
    font-size: 19px;
}

.icon {
    color: rgb(222, 225, 228);
    background: #145369;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 50px;
    padding: 4%;
}

#moi {
    background: aliceblue;
    color: #2596be;
}

.content_A_propos p {
    color: #efe6e6;
}

#ENI {
    color: #2596be;
    font-size: 18px;
    font-weight: 600;
}

/* Compétences */

#Compétences {
    background: #000;
    padding: 0 0 5% 0;
}

.Titre_C {
    width: 50%;
    margin-left: 10%;
}

.Outil {

    width: 30%;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .1);
}

.cmp {
    display: flex;
    gap: 4%;
    text-align: center;
    margin-top: 3%;
    margin-left: 2%;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.imglogo {
    margin-top: 10%;
    max-width: 20%;
    max-height: 20%;
}

.logo {
    color: #fff;
}

progress {
    width: 40%;
    margin-top: 20px;
    appearance: none;
    padding: 7px;
}

progress::-webkit-progress-bar {
    background: aliceblue;
}

progress::-webkit-progress-value {
    background: #2596be;
}

/* Contact */
#Contact {
    padding: 5% 0 5% 0;
    background: #000;
}

form {
    width:60%;
    margin-top: 5%;
    margin-left:5%;
    text-align: center;
}

.input-groupe{
    display: flex;
    gap: 2%;
    padding: 10px;
}

input {
    padding: 10px;
    width:80%;
    color:#fff;
    border:1px solid rgba(255, 255, 255, .1);
    border-radius: 5px;
    color: #fff;
    outline: none;
    background:transparent;
    transition:0.5s;
}
textarea {
    width:100%;
    max-width:98%;
    min-height:150px;
    /* box-sizing:border-box; */
    /* resize:vertical; */
    background: transparent;
    color: #fff;
    border:1px solid rgba(255, 255, 255, .1);
    outline: none;
    border-radius: 5px;
    transition:0.5s;
    cursor:text;
}

.submit {
    width: 98%;
    background: #145369;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    padding: 10px;
    margin-top: 3px;
    transition: 0.3s;
    cursor:pointer;
}
textarea:hover {
    border: 1px solid #2596be;
    box-shadow: 0 0 0 2px #174454
}
input:hover {
    border: 1px solid #2596be;
    box-shadow: 0 0 0 2px #174454;
    cursor:text;
}
.submit:hover {
    background: #174454;
    transform: scale(0.99);
    cursor: pointer;

}
.info{
    display:flex;
    gap:5%;
}
.réseau{
    margin-top:5%;
    display:flex;
    gap:10%;
    flex-direction:column;
}
.me_contacter{
    padding:5%;
    width:120%;
    border-radius:10px;
    border:1px solid rgba(255, 255, 255, .1);
    display:flex;
    gap:10%;
    transition:1s;
}
.me_contacter:hover{
    transform:translateY(1px) scale(1.05);
    border: 1px solid #2596be;
    box-shadow: 0 0 0 2px #174454;
}
.final{
    margin-top:10%;
    text-align:left;
    margin-left:10%;
}
footer{
    border-top:1px solid rgba(255, 255, 255, .1);
    background:#000;
    padding:2%;
    text-align:center;
    color:#efe6e6;
}