* {
    top: 0;
    margin: 0;
}

body {
    background: #0f172a;
}

#menu-bar {
    display: none;
}

.menu-icon {
    display: none;
}

header {
    background: #0f172a;
    display: flex;
    border-bottom: 1px solid gray;
    padding: 8px;
    justify-content: space-between;
}

.navbar {
    display: flex;
    gap: 20px;
    margin-right: 100px;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: bold;
    margin-top: 8px;
}

a:hover {
    color: rgb(7, 7, 245);
}

#lemec {
    color: rgb(34, 34, 218);
    margin-left: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

span {
    color: #fff;
}

#btn-contact {
    color: #fff;
    background: rgb(34, 34, 218);
    border: none;
    margin-top: -1px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
}